:root {
  --app-font-caption: "Koulen", system-ui, sans-serif;
  --app-font-body: "Inter", system-ui, sans-serif;

  --app-color-text: #1e0e4c;
  --app-color-accent: #3d06d7;
  --app-color-text-muted: #cfcadf;
  --app-color-border: #cfcadf;
  --app-color-border-hover: #aa9dce;
  --app-color-border-focus: #906fee;

  --typography-title-font-family: var(--app-font-caption);
  --typography-title-font-size: 20px;
  --typography-title-line-height: 1.2;
  --typography-title-letter-spacing: 0.02em;
  --typography-title-color: var(--app-color-text);

  --typography-caption-font-family: var(--app-font-caption);
  --typography-caption-font-size: 16px;
  --typography-caption-line-height: 15px;
  --typography-caption-letter-spacing: 0.02em;
  --typography-caption-color: var(--app-color-text);

  --typography-body-med-font-family: var(--app-font-body);
  --typography-body-med-font-size: 18px;
  --typography-body-med-line-height: 1;
  --typography-body-med-font-weight: 500;

  --typography-body-reg-font-family: var(--app-font-body);
  --typography-body-reg-font-size: 18px;
  --typography-body-reg-line-height: 1;
  --typography-body-reg-font-weight: 400;

  --typography-link-font-family: var(--app-font-body);
  --typography-link-font-size: 14px;
  --typography-link-line-height: 1.2;
  --typography-link-color: var(--app-color-accent);
}

.typography-title {
  margin: 0;
  font-family: var(--typography-title-font-family);
  font-size: var(--typography-title-font-size);
  line-height: var(--typography-title-line-height);
  letter-spacing: var(--typography-title-letter-spacing);
  color: var(--typography-title-color);
}

.typography-label {
  font-family: var(--typography-caption-font-family);
  font-size: var(--typography-caption-font-size);
  line-height: var(--typography-caption-line-height);
  letter-spacing: var(--typography-caption-letter-spacing);
  color: var(--typography-caption-color);
}

.typography-caption {
  font-family: var(--typography-body-reg-font-family);
  font-weight: var(--typography-body-reg-font-weight);
  font-size: var(--typography-body-reg-font-size);
  line-height: var(--typography-body-reg-line-height);
  color: var(--app-color-text);
}

.typography-link {
  font-family: var(--typography-link-font-family);
  font-size: var(--typography-link-font-size);
  line-height: var(--typography-link-line-height);
  color: var(--typography-link-color);
  text-decoration: none;
}

.typography-link:hover {
  text-decoration: underline;
}
